{% extends 'rango/base.html' %}
{% load static %}
{% block title %}Welcome to Rango!{% endblock %}

{% block body_block %}
<div class="hero-unit">
    
    <h3>Rango says... hello {{ user.username }}! </h3>
    <h4>Your info is</h4>
    Username: {{ user.username }}
    <br />
    Email: {{ user.email }}
    <br />
    {% if userprofile.website %}
    Website: <a href="{{ userprofile.website }}">{{ userprofile.website}}</a>
    <br />
    {% if userprofile.picture %}
    Picture: <img src="{{ userprofile.picture.url }}" />
    
    {% endif %}
    {% endif %}
</div>
{% endblock %}
    